html {
  text-align: center;
  font-size: 0.8em;
  font-family: "Courier New", Courier, monospace;
}
form {
  justify-content: left;
  text-align: left;
  border: 0.3em solid black;
  width: 48vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 2em;
}
input[type="text"],
[type="url"] {
  width: 32vw;
  margin-left: 10em;
  display: flex;
}
#meme-flexbox {
  display: flex;
  width: auto;
  height: auto;
  margin: 1em;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}
.meme-wrapper {
  position: relative;
}
.toptext {
  position: absolute;
  top: 8%;
  left: 0%;
  font-family: impact;
  text-transform: uppercase;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2.5em;
  display: inline-block;
  width: -webkit-fill-available;
  text-align: -webkit-center;
}
.btmtext {
  position: absolute;
  top: 80%;
  left: 0%;
  font-family: impact;
  text-transform: uppercase;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2.5em;
  display: inline-block;
  width: -webkit-fill-available;
  text-align: -webkit-center;
}
img {
  min-width: 300px;
  min-height: 300px;
  width: 63vmin;
  height: 63vmin;
  object-fit: cover;
}
